<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/css/styles.css">
    <link rel="icon" href="/img/weather.png">
    <title>About</title>
</head>
<body>
    <div class="main-content">
        {{>header}}
        <p>This site was created by Renay Earnshaw</p>
        <p>It uses data from <i>mapbox.com</i> and <i>darksky.net</i></p>
        <img class="portrait" src="/img/robot.png">
    </div>
    {{>footer}}
</body>
</html>